@font-face {
  font-family: "Kanit";
  src: url("/assets/fonts/kanit-semibold.woff") format("woff"),
    url("/assets/fonts/kanit-bold.woff2") format("woff2"),
    url("/assets/fonts//kanit-semibold.woff2") format("woff2"),
    url("/assets/fonts/kanit-bold.woff") format("woff");
}

:root {
  --ff-base: Kanit;
  --max-size-container: 1400px;

  --black: #050505;
  --white: #f8f6f6;

  --duration-base: 500ms;
  --duration-700: 700ms;
  --delay-1: 120ms;
  --delay-2: 150ms;
  --delay-3: 170ms;
  --delay-4: 200ms;
  --delay-500: 500ms;
  --delay-800: 800ms;

  --boing: cubic-bezier(0.52, -0.6, 0.32, 1.65);
}

/**
* > RESET 
**/
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-base);
  background-color: var(--black);
}

a {
  text-decoration: none;
}

/**
* > NORMALIZE 
**/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  overflow: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

a {
  color: var(--white);
}

/**
* > STYLES
**/

.wrapper {
  max-width: var(--max-size-container);
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn-menu {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  transform: rotate(0deg);
}

.btn-menu__tired {
  height: 4px;
  width: 100%;
  background-color: var(--white);
}

.btn-menu.active {
  animation: rotate-z var(--duration-700) ease-in-out forwards,
    rotate var(--duration-base) ease-in-out var(--delay-800) forwards;
}

.btn-menu.active .btn-menu__tired {
  animation: scale-x0 var(--duration-base) ease-in-out var(--delay-500) forwards;
}

.btn-menu:before,
.btn-menu:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--white);
  transform-origin: left center;
}

.btn-menu.active:before {
  animation: rotate-z45 var(--duration-base) ease-in-out var(--duration-base)
    forwards;
}

.btn-menu.active:after {
  animation: -rotate-z45 var(--duration-base) ease-in-out var(--duration-base)
    forwards;
}

#logo {
  text-align: center;
  position: relative;
  animation: slide-top-fade calc(var(--duration-700) + var(--delay-4))
    var(--boing) var(--delay-1);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: clamp(2.5rem, 7vmin, 3rem);
  background-color: var(--black);
  text-transform: uppercase;
}

.slide-left-fade {
  animation: slide-left-fade var(--duration-700) var(--boing) var(--delay-1)
    forwards;
}

.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100%;
  z-index: 10;
  animation: none;
  transition: all 500ms ease-in-out;
}

.menu__item {
  opacity: 0;
}

.menu.active .menu__item {
  position: relative;
  animation: slide-right-fade var(--duration-700) var(--boing) 3900s forwards;
}

.nav > * {
  flex: 1 1 100%;
  padding-top: 1.2rem;
  padding-left: calc(max(1rem, min(1.5rem, 2vmin)));
  padding-right: calc(max(1rem, min(1.5rem, 2vmin)));
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 0 0.5rem;
  position: relative;
  animation: slide-right-fade var(--duration-700) var(--boing) var(--delay-1)
    forwards;
}

.icons svg {
  fill: var(--white);
}

.title-uppercase {
  text-transform: uppercase;
  font-weight: bold;
  font-size: min(10vw, 5rem);
  text-align: center;
  margin-top: max(0.5rem, min(1.5vmin, 1rem));
  margin-bottom: max(0.8rem, min(1.7vmin, 1rem));
}

.title-uppercase div:nth-of-type(2) {
  color: transparent;
  -webkit-text-stroke: max(0.13rem, min(0.6vmin, 4px)) var(--white);
  -moz-text-stroke: max(0.13rem, min(0.6vmin, 4px)) var(--white);
  -ms-text-stroke: max(0.13rem, min(0.6vmin, 4px)) var(--white);
}

.title-uppercase span {
  position: relative;
  opacity: 0;
  animation: up 360ms var(--boing) forwards;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.collections {
  display: flex;
  flex: 1;
  gap: 0 max(0.3rem, min(1vmin, 0.5rem));
  overflow: auto;
}

.collections > * {
  width: calc(100% / 3);
  min-width: 300px;
}

.collection {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.collection img {
  object-fit: cover;
}

.collection-1 {
  background-image: url("/assets/1.jpeg");
}

.collection-1::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--black);
  animation: left 1800ms linear forwards;
  z-index: 2;
}

.collection-1::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #c9a779;
  z-index: 1;
  animation: right 500ms linear 1800ms forwards;
}

.collection-2 {
  background-image: url("/assets/2.jpeg");
}

.collection-2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--black);
  animation: top 1800ms linear forwards;
  z-index: 2;
}

.collection-2::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  top: 0;
  background-color: #aa895c;
  z-index: 1;
  animation: bottom 500ms linear 1800ms forwards;
}

.collection-3::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--black);
  animation: right 1800ms linear forwards;
  z-index: 2;
}

.collection-3::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #584c40;
  z-index: 1;
  animation: left 500ms linear 1800ms forwards;
}

.collection-3 {
  background-image: url("/assets/3.jpeg");
}

#overlay-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .wrappe-btn-menu {
    display: none;
  }

  .menu {
    display: flex;
    gap: 0 2rem;
    position: static;
    opacity: 1;
    font-size: clamp(1rem, 4vmin, 1.5rem);
    height: auto;
    width: auto;
  }

  .menu__item {
    opacity: 1;
  }
}

@keyframes rotate-z {
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-X {
  to {
    transform: rotate(0deg);
  }
}

@keyframes scale-x0 {
  to {
    transform: scaleX(0);
  }
}

@keyframes rotate-z45 {
  to {
    transform: rotateZ(45deg);
  }
}

@keyframes -rotate-z45 {
  to {
    transform: rotateZ(-45deg);
  }
}

@keyframes up {
  from {
    top: 2rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-left-fade {
  from {
    transform: translateX(-3.5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes slide-right-fade {
  from {
    transform: translateX(3.5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-3.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-top-fade {
  from {
    transform: translateY(-3.5rem);
    opacity: 0;
  }
  to {
    top: 0;
    transform: translateY(0rem);
  }
}

@keyframes reveal-left {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes left {
  0% {
    left: 0;
    right: 0%;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes right {
  0% {
    left: 0;
    right: 0%;
  }
  100% {
    left: 0%;
    right: 100%;
  }
}

@keyframes top {
  0% {
    top: 0;
    bottom: 0%;
  }
  100% {
    top: 100%;
    bottom: 0;
  }
}

@keyframes bottom {
  0% {
    top: 0;
    bottom: 0%;
  }
  100% {
    top: 0%;
    bottom: 100%;
  }
}
